
  /*Columns match with their individual number.E.G.col3
  *col3restful=fullwidth row*/
  
.col3rest {
  width:63.666666667%;
 } 
.col4rest {
  width :72%;
}
.col5rest{
  width:77%;
}

.dribble-link{
  width:50px;
  height:50px;
  position:fixed;
  bottom:15px;
  right: 15px;
  border-radius:50px;
}

